@import "tailwindcss";

@font-face {
  font-family: acma;
  src: url(/PPAcma-Black.otf);
}

@font-face {
  font-family: absans;
  src: url(/absans-regular.otf);
}

.input{
  outline: none;
  /* border: 1px solid black; */
}

body{
  background-color: #0f172a;
}

#description{
  text-align: justify;
    text-justify: auto;
}

@property --border-angle {
  syntax: '<angle>';
  inherits: false;
  initial-value: 0deg;
}

@theme{

  --animate-rotate-border : border-rotate 2s linear infinite;
  @keyframes border-rotate {
    to {
      --border-angle: 360deg;
    }
    
  }
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

body {
  overflow-x: hidden;
  overflow-y: hidden;
}